table {
    margin: 0 auto;

    border: 2px solid black;
    border-collapse: separate;
    border-radius: 6px;
    border-spacing: 0px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th, td {
    padding: 5px 4px 6px 4px;
    text-align: left;
    vertical-align: top;
}

td:first-child {
    border-right: 2px solid black;
}
